{% extends "_layout.twig" %}
{% from 'components/macros.twig' import wikilinks %}

{% set title = "Edit article" %}
{% set noindex = true %}
{% set pagename = "/wiki/" ~ pagetitle_slugified ~ "?action=edit" %}

	{% block content %}
<h1>Edit article</h1>

<form method="POST">
	<p><strong>{{ pagetitle }}</strong></p>
	<p><textarea name="text" placeholder="Page content" cols="100" rows="20" {% if not log %}disabled{% endif %}>{{ page.content }}</textarea></p>

	{% if log %}
		{% if page.minedit <= userdata.rank %}
			<p><em>Markdown formatting syntax is allowed.</em></p>

			<p><input type="text" name="description" placeholder="Description (Describe what has been changed)" size="60" value="{{ change_description }}"></p>
			<p>
				<input type="submit" name="action" value="Save changes"></input>
				<input type="submit" name="action" value="Preview"></input>
				{% if page.cur_revision %}
					<input type="submit" name="action" value="Show changes"></input>
				{% endif %}
			</p>

			{% if userdata.rank > 2 %}
				<p>Minimum rank to edit:
					<select name="minedit">
						{% for plid, plname in ranks %}
							<option value="{{ plid }}"{% if plid == page.minedit %} selected{% endif %}>{{ plname }}</option>
						{% endfor %}
					</select>
				</p>
			{% endif %}

			<p>By submitting changes you agree to license them under the CC-BY 4.0 license. <a href="/wiki/Copyright">Read more</a></p>
		{% else %}
			{% if userdata.rank > 0 %}
				<p>This page is locked and cannot be edited by unprivileged users.</p>
			{% else %}
				<p>You have been banned and cannot edit the wiki.</p>
			{% endif %}
		{% endif %}
	{% else %}
		<p>Please <a href="/login">log in</a> to make edits to this page.</p>
	{% endif %}
</form>

{% if action == 'Show changes' %}
	<hr>

	<h1>Current changes: {{ pagetitle }}</h1>
	{{ diff | default('None') | raw  }}
{% endif %}

{% if action == 'Preview' %}
	<hr>

	<h1>Preview: {{ pagetitle }}</h1>
	{{ page.content | markdown_wiki }}
{% endif %}

{{ wikilinks("edit", pagetitle_slugified) }}
	{% endblock %}