{% extends "_layout.twig" %}

{% set title = "Active users" %}

	{% block content %}
<table class="settings" style="width:350px">
	<tr><th>Active users during the last {{ timeunits(time) }}</td></tr>
	<tr><td class="center">
		{{ timelinks('activeusers') }}
	</td></tr>
</table><br>

<table class="settings">
	<tr>
		<th width="40">#</th>
		<th>Username</th>
		<th width="140">Registered on</th>
		<th width="50">Posts</th>
		<th width="50">Total</th>
	</tr>
	{% set i = 1 %}
	{% for user in users %}
		<tr class="n{% if i % 2 %}1{% else %}2{% endif %} center">
			<td>{{ i }}.</td>
			<td class="left">{{ userlink(user) }}</td>
			<td>{{ user.joined | date('Y-m-d H:i') }}</td>
			<td><b>{{ user.num }}</b></td>
			<td><b>{{ user.posts }}</b></td>
		</tr>
		{% set i = i + 1 %}
	{% else %}
		{{ if_empty_query("There are no active users in the given timespan.", 5) }}
	{% endfor %}
</table>
	{% endblock %}