{% extends "_layout.twig" %}

{% set title = "Edit post" %}
{% set noindex = true %}

	{% block content %}
<h1>Edit post</h1>

{{ render_page_bar(topbot) }}

{% if action == 'Preview' %}

	{{ threadpost(post) }}
	<br>
{% endif %}

<form action="editpost?pid={{ pid }}" method="POST">
	<table class="c1">
		<tr class="h"><td colspan="2">Edit Post</td></tr>
		<tr>
			<td class="n1 center" width="120">Post:</td>
			<td class="n2"><textarea name="message" rows="15" cols="80">{{ message }}</textarea></td>
		</tr><tr>
			<td class="n1 center" colspan="2">
				<input type="submit" name="action" value="Preview">
				<input type="submit" name="action" value="Submit">
			</td>
		</tr>
	</table>
</form>

{{ render_page_bar(topbot) }}
	{% endblock %}