{% extends "_layout.twig" %}

{% set title = title %}
{% if fid %}
	{% set pagename = "/forum/forum?id=" ~ fid %}
{% elseif uid %}
	{% set pagename = "/forum/forum?user=" ~ uid %}
{% endif %}

	{% block content %}
{% set lsticky = 0 %}
{{ render_page_bar(topbot) }}
{% if time %}
	<table class="settings" style="width:350px">
		<tr><th>Latest Threads</th></tr>
		<tr><td class="center">
			By Threads | <a href="thread?time={{ time }}">By Posts</a></a><br><br>
			{{ timelinks('forum') }}
		</td></tr>
	</table>
{% endif %}
<br>
<table class="settings">
	<tr class="h">
		<th style="width:30px">&nbsp;</th>
		{% if showforum %}<th>Forum</th>{% endif %}
		<th>Title</th>
		<th class="nom" width="130">Started by</th>
		<th class="nom" width="50">Replies</th>
		<th class="nom" width="50">Views</th>
		<th width="130">Last post</th>
	</tr>
	{% set i = 1 %}
	{% for thread in threads %}
		{% if not time %}
			{% if not thread.sticky and lsticky %}
				<tr class="h"><th class="h" colspan="{% if showforum %}7{% else %}6{% endif %}"></th></tr>
			{% endif %}
			{% set lsticky = thread.sticky %}
		{% endif %}

		<tr class="center">
			<td class="b">
				{% if log and not thread.isread %}
					{% if thread.closed %}
						{{ new_status("on") }}
					{% else %}
						{{ new_status("n") }}
					{% endif %}
				{% elseif thread.closed %}
					{{ new_status("o") }}
				{% endif %}
			</td>
			{% if showforum %}
				<td class="b"><a href="forum?id={{ thread.fid }}">{{ thread.ftitle }}</a></td>
			{% endif %}
			<td class="b left wbreak">
				<a href="thread?id={{ thread.id }}">{{ thread.title }}</a>
			</td>
			<td class="b nom">{{ userlink(thread, 'u1') }}</td>
			<td class="b nom">{{ thread.posts - 1 }}</td>
			<td class="b nom">{{ thread.views }}</td>
			<td class="b">
				<nobr>{{ thread.lastdate | date('Y-m-d H:i') }}</nobr><br>
				<span>by {{ userlink(thread, 'u2') }} <a href="thread?pid={{ thread.lastid }}#{{ thread.lastid }}">&raquo;</a></span>
			</td>
		</tr>
		{% set i = i + 1 %}
	{% else %}
		<tr>
			<td class="b n1 center" colspan="{% if showforum %}7{% else %}6{% endif %}"><p>No threads found.</p></td>
		</tr>
	{% endfor %}
</table>
{{ fpagelist | raw }}
{% if not time %}<br>{% endif %}
{{ render_page_bar(topbot) }}
	{% endblock %}
