{% extends "_layout.twig" %}

{% set title = "New reply" %}
{% set noindex = true %}

	{% block precontent %}
{% if error %}
	<div class="header_message">{{ error }}</div>
{% endif %}
	{% endblock %}

	{% block content %}
{{ render_page_bar(topbot) }}

{% if action == 'Preview' %}
	<br>
	{{ threadpost(post) }}
{% endif %}

<br>
<form action="newreply?id={{ tid }}" method="POST">
	<table class="c1">
		<tr class="h"><td colspan="2">Reply</td></tr>
		<tr>
			<td class="n2 center"><textarea name="message" rows="15" cols="80" style="width:90%">{{ message }}</textarea></td>
		</tr><tr>
			<td class="n1 center">
				<input type="submit" name="action" value="Preview">
				<input type="submit" name="action" value="Submit">
			</td>
		</tr>
	</table>
</form>
<br>

<table class="c1 threadpost">
	<tr class="h"><td colspan="2">Thread preview</td></tr>
	{% for post in newestposts %}
		{{ minipost(post) }}
	{% endfor %}
</table>

<br>
{{ render_page_bar(topbot) }}
	{% endblock %}