{% extends "_layout.twig" %}

{% set title = headtitle %}

	{% block content %}
{{ render_page_bar(topbot) }}
<br>
<table class="c1">
	<tr class="h">
		<td class="b" width="17">&nbsp;</td>
		<td class="b" style="width:30px">&nbsp;</td>
		<td class="b">Title</td>
		<td class="b" width="130">{{ fieldn }}</td>
		<td class="b" width="130">Sent on</td>
	</tr>
{% set i = 1 %}
{% for pmsg in pmsgs %}
	<tr class="n{% if i % 2 %}1{% else %}2{% endif %} center">
		<td class="b n2">
			<a href="private?action=del&id={{ pmsg.id }}&view={{ view }}" class="delete">X</a>
		</td>
		<td class="b n1">{% if pmsg.unread %}{{ new_status("n") }}{% endif %}</td>
		<td class="b left wbreak"><a href="showprivate?id={{ pmsg.id }}">{{ pmsg.title | default('(untitled)') }}</a></td>
		<td class="b">{{ userlink(pmsg, 'u') }}</td>
		<td class="b"><nobr>{{ pmsg.date | date('Y-m-d H:i') }}</nobr></td>
	</tr>
	{% set i = i + 1 %}
{% else %}
	{{ if_empty_query("There are no private messages.", 5) }}
{% endfor %}
</table>
{{ fpagelist | raw }}
{{ render_page_bar(topbot) }}
	{% endblock %}