{% extends "_layout.twig" %}

{% set title = "Search" %}

	{% block content %}
<form action="search" method="get"><table class="c1">
	<tr class="h"><td>Search</td>
	<tr><td class="n1 center">
		<p>Search for: <input type="text" name="query" size="40" value="{{ query }}"></p>
		<p>in
			<label><input type="radio" class="radio" name="where" value="0"{% if where == 0 %} checked{% endif %}> thread title</label>
			<label><input type="radio" class="radio" name="where" value="1"{% if where == 1 %} checked{% endif %}> post text</label></p>
		<p><input type="submit" value="Search"></p>
	</td></tr>
</table></form><br>

{# rest is if query has been inputted #}
{% if query %}

{% if where == 1 %}
	{% set i = 1 %}
	{% for post in posts %}
		{{ threadpost(post) }}<br>
		{% set i = i + 1 %}
	{% endfor %}
	{% if i == 1 %}
		<table class="c1"><tr><td class="n1 center"><p>No results found.</p></td></tr></table>
	{% endif %}
{% else %}
	<table class="c1">
		<tr class="h"><td colspan="3">Results:</td></tr>
		<tr class="c">
			<td>Title</td>
			<td style="width:150px">Started by</td>
			<td style="width:180px">Date</td>
		</tr>
		{% set i = 1 %}
		{% for thread in threads %}
			{% if i % 2 %}
				{% set zebra = 1 %}
			{% else %}
				{% set zebra = 2 %}
			{% endif %}

			<tr class="n{{ zebra }} center">
				<td class="left"><a href="thread.php?id={{ thread.id }}">{{ thread.title }}</a></td>
				<td>{{ userlink(thread, 'u') }}</td>
				<td>{{ thread.lastdate | date('Y-m-d H:i') }}</td>
			</tr>
			{% set i = i + 1 %}
		{% endfor %}
		{% if i == 1 %}
			<tr><td class="n1 center" colspan="6"><p>No results found.</p></td></tr>
		{% endif %}
	</table>
{% endif %}

{% endif %}{# if query #}

	{% endblock %}