<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ title }} - Principia Archive</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>@font-face{font-family:"Roboto";font-style:normal;font-weight:400;font-display:swap;src:local("Roboto"),url("/fonts/roboto-v29-latin-ext_latin-regular.woff2") format("woff2"),url("/fonts/roboto-v29-latin-ext_latin-regular.woff") format("woff")}@font-face{font-family:"Roboto";font-style:normal;font-weight:700;font-display:swap;src:local("Roboto Bold"),url("/fonts/roboto-v29-latin-ext_latin-700.woff2") format("woff2"),url("/fonts/roboto-v29-latin-ext_latin-700.woff") format("woff")}</style>
	<link rel="stylesheet" href="/css/darkmode.css?v=53" type="text/css">

	{% if noindex %}<meta name="robots" content="noindex,nofollow">{% endif %}
	<meta property="og:title" content="{{ title }}">
	{% if image %}<meta property="og:image" content="{{ image }}">{% endif %}
	{% if description %}<meta name="description" content="{{ description|length > 200 ? description|slice(0, 200) ~ '...' : description }}">
	<meta property="og:description" content="{{ description }}">{% endif %}
	<meta property="og:site_name" content="Principia Community Site Archive">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://{{ domain }}{{ uri }}">
	<link rel="canonical" href="https://{{ domain }}{{ pagename }}">

	<link rel="icon" href="/assets/icon-256.png" sizes="256x256">
	<link rel="icon" href="/assets/icon.png" sizes="64x64">
</head>
<body>
	<div class="banner center"><a href="https://principia-web.se">&lt; Go back to principia-web</a></div>
	<div class="top"><div class="menucontainer">
		<a class="picon" href="/"><img src="/assets/icon.png" alt="Home"></a>
		<div class="menu">
			<a href="/popular">Popular</a>
			<a href="/top">Top</a>
			<a href="/latest">Browse</a>
			<a href="/random">Random picks</a>
			<a href="/search"><img src="/icons/search_w.svg" class="search" alt="Search"></a>
		</div>
	</div></div>
	<div class="content"><div class="container">
		{% block content %}{% endblock %}
	</div></div>
	<div class="footer">
		<a href="https://principia-web.se">Go back</a>
		{% if pagename starts with '/level' or pagename starts with '/user' %}&ndash; <a href="/report?url={{ uri }}">Report</a>{% endif %}

		<p></p>

		<small>
			Running <a href="https://github.com/principia-game/principia-web-archive">principia-web-archive</a> - {{ profiler_stats() }}
		</small>
	</div>
</body>
</html>
