{% extends "_layout.twig" %}

{% set title = level.title %}
{% set description = level.description %}
{% set image = "https://" ~ domain ~ "/thumbs/" ~ lid ~ "-0-0.jpg" %}
{% set pagename = "/level/" ~ lid %}

	{% block content %}
<h1>{{ level.title }}</h1>

<span class="misc">
	By {{ userlink(level, 'u_') }}
	&ndash; {{ level.cat | cat_to_type | title }} level
	&ndash; uploaded {{ level.time | date('j M Y') }} from {{ level.platform }}</span>

<div class="lvl-box">
	<div class="img">
		{% if level.revision > 1 %}
			<span class="revision">Revision #{{ level.revision }}, updated N/A<!--{{ level.revision_time | date('M j, Y') }}--></span>
		{% endif %}
		{% if level.visibility == 1 %}
			<img src="/locked_thumb.svg" alt="Locked level">
		{% else %}
			<a href="/thumbs/{{ level.id }}-0-0.jpg"><img src="/thumbs/{{ level.id }}-0-0.jpg" alt=""></a>
		{% endif %}
	</div>

	<div class="info">
		{% if level.visibility == 1 %}
			<p><em>This level has been locked. It will not be visible outside of this level page.</em></p>
		{% elseif level.visibility == 2 %}
			<p><em>This level is unlisted. It will not be visible outside of this level page.</em></p>
		{% else %}
			<a class="play-btn green" href="principia://{{ domain }}/play/lvl/db/{{ lid }}">Play</a>
			<a class="play-btn blue" href="principia://{{ domain }}/sandbox/db/{{ lid }}">Edit</a>

			{% if level.likes > 0 %}
				<span class="likemsg">{{ level.likes }} player{% if level.likes != 1 %}s{% endif %} liked this.</span>
			{% endif %}
		{% endif %}
		<p>{{ level.description | replace({'&gt;': '>', '&lt;': '<'}) | nl2br }}</p>
	</div>
</div>

<div class="lvl-data">
	<p>Downloads: {{ level.downloads }} - Level ID: {{ level.id }}</p>
</div>

{% if derivatives %}
	<h2>Derivatives</h2>
	<div class="level-list">
	{% for derivative in derivatives %}
		{{ level(derivative) }}
	{% endfor %}
	</div>
	<br><br>
{% endif %}

{% if parentlevel %}
	<h2>Parent</h2>
	{{ level(parentlevel) }}
	<br><br>
{% endif %}

	{% endblock %}
