<nav>
	<div class="menu">
		<a class="picon" href="/">
			<img src="/assets/icon.webp" alt="Home">
		</a>
		<a href="/popular">Popular</a>
		<a href="/top">Top</a>
		<a href="/latest">{% if constant('IS_ARCHIVE') %}Browse{% else %}New{% endif %}</a>
		<a href="/random">Random picks</a>
		<a href="{{ '/download' | main_site }}" class="download">Download</a>
		<a href="{{ '/forum/' | main_site }}">Forum</a>
		<a href="{{ '/wiki/' | main_site }}">Wiki</a>
		<a href="/search">{{ icon("search") }}</a>
		{% if not constant('IS_ARCHIVE') %}
			<div class="nav-right">
				{% if log %}
					{% if userdata.rank > 1 %}
						<a href="/admin">{{ icon("shield") }}</a>
					{% endif %}
					{{ userlink(userdata) }}
					{% if userdata.notifications %}
						<span class="notifs">[{{ userdata.notifications }}]</span>
					{% endif %}
				{% else %}
					<a href="/login">Log in</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</nav>
{% if submodule == 'forum' %}
	<nav class="nav-forum">
		<div class="menu">
			<a href="/forum/">Forum</a>
			<a href="/forum/activeusers">Active users</a>
			<a href="/forum/forum?time=86400">Latest posts</a>
			{% if log %}
				<a href="/forum/private">Private messages</a>
			{% endif %}
		</div>
	</nav>
{% endif %}
