<meta charset="utf-8">
<title>{{ title }}{% if no_tagline is not defined %} - Principia{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

{# inline font styling - update from /static/css/fonts.css #}
<style>@font-face{font-family:"Roboto";font-style:normal;font-weight:400;font-display:swap;src:local("Roboto"),url("/fonts/roboto-v29-latin-ext_latin-regular.woff2") format("woff2"),url("/fonts/roboto-v29-latin-ext_latin-regular.woff") format("woff")}@font-face{font-family:"Roboto";font-style:normal;font-weight:700;font-display:swap;src:local("Roboto Bold"),url("/fonts/roboto-v29-latin-ext_latin-700.woff2") format("woff2"),url("/fonts/roboto-v29-latin-ext_latin-700.woff") format("woff")}</style>

<link id="style" rel="stylesheet" href="/css/{% if userdata.darkmode %}dark{% else %}light{% endif %}.css?v=14" type="text/css">
<script defer src="/js/base.js?v=6"></script>
<script defer src="/js/prism.js?v=1"></script>

{% if noindex | default(false) %}<meta name="robots" content="noindex,nofollow">{% endif %}

<meta property="og:title" content="{{ title }}">
{% if image is defined %}<meta property="og:image" content="{{ image }}">{% endif %}
{% if description is defined %}<meta name="description" content="{{ description|length > 200 ? description|slice(0, 200) ~ '...' : description }}">
<meta property="og:description" content="{{ description }}">{% endif %}
<meta property="og:site_name" content="Principia">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ domain }}{{ uri }}">
<link rel="canonical" href="{{ domain }}{{ pagename }}">

<link rel="icon" href="/assets/icon-256.png?v=2" sizes="256x256">
<link rel="icon" href="/assets/icon.png?v=2" sizes="64x64">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

{% block custom_head %}{% endblock %}
