<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Home{% endblock %} - principia-web</title>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
		{% if userdata.darkmode %}<link rel="stylesheet" href="/assets/css/darkmode.css" type="text/css">{% endif %}
		{% if acmlm %}<script src="assets/js/tools.js"></script>{% endif %}
	</head>
	<body {% if is_android_webview() %}style="zoom:0.6"{% endif %}>
		{% if userdata.powerlevel == 0 %}
			<div class="banner b-red">You have been banned. For more details see your personal user page.</div>
		{% endif %}
		{% if is_android_webview() %}
			<div class="banner b-red">You are using principia-web on a platform that is being deprecated sometime in the future.</div>
		{% endif %}
		<div class="top">
			<a href="/"><img class="picon" src="/assets/icon.png"/></a>
			<ul class="menu left">
				<li><a href="/popular.php" class="btn">Popular</a></li>
				<li><a href="/top.php" class="btn">Top</a></li>
				<li><a href="/latest.php" class="btn">New</a></li>
				<li><a href="/chat.php" class="btn">Chat</a></li>
				{% if glob_forum %}<li><a href="/forum/" class="btn">Forum</a></li>{% endif %}
				<li><a href="/contests.php" class="btn">Contests</a></li>
				<li><a href="/search.php" class="btn"><img src="/assets/icons/search.svg" class="search"></a></li>
			</ul>
			<ul class="menu right">
				<li><em>
					{% if log %}
						{{ userlink(userdata) }}
						{% if notification_count > 0 %}
							<span class="notifs">[{{ notification_count }}]</span>
						{% endif %}
					{% else %}
						<a href="/login.php">Login</a>
					{% endif %}
				</em></li>
			</ul>
		</div>
		{% if acmlm %}
		<div class="top top_forum">
			<ul class="menu left">
				<li><a href="/forum/" class="btn">Forum</a></li>
				<li><a href="/forum/activeusers.php" class="btn">Active users</a></li>
				<li><a href="/forum/thread.php?time=86400" class="btn">Latest posts</a></li>
				{% if log %}
					<li><a href="/forum/private.php" class="btn">Private messages</a></li>
				{% endif %}
			</ul>
			{% if log %}
				<ul class="menu right">
					<li><a href="/forum/?action=markread&fid=all">Mark all forums read</a></li>
				</ul>
			{% endif %}
		</div>
		{% block precontent %}{% endblock %}<br>
		{% endif %}
		<div class="home content{% if acmlm %} forum{% endif %}">
			{% block content %}{% endblock %}
		</div>
		<div class="footer">
			<a href="/about.php">About</a>
			{{ custom_info() }}
			<br>
			Running <a href="https://github.com/principia-preservation-project/principia-web">principia-web</a>,
			on commit <a href="https://github.com/principia-preservation-project/principia-web/commit/{{ git_commit(false) }}">{{ git_commit() }}</a><br>
			{{ profiler_stats() }}
		</div>
		<script type="text/javascript" src="/assets/base.js"></script>
		{% block custom_footer %}{% endblock %}
	</body>
</html>