{% extends "_layout.twig" %}

{% if unban %}
	{% set action = "unban" %}
	{% set title = "Unban User" %}
{% else %}
	{% set action = "ban" %}
	{% set title = "Ban User" %}
{% endif %}

	{% block content %}
<h1>{{ action | title }} User</h1>

<p>You are going to be {{ action }}ning {{ userlink(banuserdata) }}.</p>

{% if action == "ban" %}
	<form class="reglog" method="POST" action="/_ban_user.php?id={{ banuserdata.id }}">
		<p>
			<span>Reason:</span>
			<input type="text" name="reason" placeholder="Specify a reason (Optional, but preferred.)" size="60">
		</p>
		<p><input type="submit" class="submit" name="action" value="Ban User"></p>
	</form>
{% else %}
	<form class="reglog" method="POST" action="/_ban_user.php?id={{ banuserdata.id }}">
		<p><input type="submit" class="submit" name="action" value="Unban User"></p>
	</form>
{% endif %}
	{% endblock %}