{% extends "_layout.twig" %}

{% set title = "Admin panel" %}

	{% block content %}
<h1>Admin panel</h1>

<h3>Memcached Statistics</h3>

{% set cols = 6 %}

<table class="c1">
	<tr class="h">
		<td width=100>Uptime</td>
		<td width=100>Total Get Calls</td>
		<td width=100>Total Read</td>
		<td width=100>Total Set Calls</td>
		<td width=100>Total Written</td>
		<td width=100>Memory Usage</td>
	</tr>
	{% for address,server in memcached_stats %}
		<tr class="c"><td colspan="{{ cols }}">Server ({{ address }})</td></tr>
		{% if not server.offline %}
			<tr>
				<td>{{ (server.uptime / 3600) | round(2) }} hours</td>
				<td>{{ server.cmd_get }} ({{ ((server.get_hits / server.cmd_get) * 100) | round(2) }}% hits)</td>
				<td>{{ (server.bytes_read / 1000000) | round(2) }} MB</td>
				<td>{{ server.cmd_set }}</td>
				<td>{{ (server.bytes_write / 1000000) | round(2) }} MB</td>
				<td>
					{{ (server.bytes / 1000000) | round(2) }} MB
					({{ ((server.bytes / server.limit_maxbytes) * 100) | round(2) }}%)
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="{{ cols }}">Server offline...</td>
			</tr>
		{% endif %}
	{% endfor %}
</table>

<h3>User statistics</h3>

<table class="fullwidth"><tr>
	<td class="nb" style="width:50%">
		<table class="c1">
			<tr class="h"><td colspan="2">Latest registered users</td></tr>
			{% for user in latest_registered_users %}
				<tr>
					<td>{{ userlink(user) }}</td>
					<td>{{ user.joined | date() }}</td>
				</tr>
			{% endfor %}
		</table>
	</td>
	<td class="nb" style="width:50%">
		<table class="c1">
			<tr class="h"><td colspan="2">Latest seen users</td></tr>
			{% for user in latest_seen_users %}
				<tr>
					<td>{{ userlink(user) }}</td>
					<td>{{ user.lastview | relative_time }}</td>
				</tr>
			{% endfor %}
		</table>
	</td>
</tr></table>

<h3>Numberz</h3>

<table class="c1">
	<tr class="h">
		{% for thing in things_to_count %}
			<td width=100>{{ thing | title }}</td>
		{% endfor %}
	</tr>
	<tr>
		{% for thing in things_to_count %}
			<td>{{ count[thing] }}</td>
		{% endfor %}
	</tr>
</table>

<h3>Latest comments</h3>
<div class="comments">
	{% for cmnt in latest_comments %}
		<div class="comment{% if cmnt.deleted %} deleted{% endif %}" id="comment-{{ cmnt.id }}">
			<p>
				{{ userlink(cmnt, 'u_') }}
				commented on <a href="/{{ cmnt.type | cmt_num_to_type }}.php?id={{ cmnt.level }}">{{ cmnt.type | cmt_num_to_type | title }} {{ cmnt.level }}</a>:
				<span class="date">{{ cmnt.time | relative_time }}</span>
			</p>
			<span class="comment-text">{{ cmnt.message | markdown_inline | replace({'\n':'<br>'}) | raw }}</span>
		</div>
	{% endfor %}
</div>

<h3>various bells and whistles for super special people</h3>

<ul>
	<li><a href="/news?new">New news post</a></li>
	<li><a href="/viewlocked">View locked levels</a></li>
	<li><a href="/ipbans">IP bans</a></li>
	<li><a href="/userlist">User list</a></li>
	<li><a href="/forum/manageforums.php">Manage forums</a></li>
</ul>
	{% endblock %}
