{% extends "_layout.twig" %}

{% set title = contest.title %}
{% set description = contest.description %}
{% set image = contest.image %}
{% set pagename = "/contest/" ~ contest.id %}

	{% block content %}
<h1>{{ contest.title }}</h1>

<img src="{{ contest.image }}" style="float: right;max-width: 50%;">

<p>{{ contest.description | markdown_unsafe }}</p>

<h2>Timeframe</h2>

<p>The contest was started at <strong>{{ contest.time_from | date('M j, Y') }}</strong>.</p>

{% if contest.time_to|date("U") < "now"|date("U") %}
	<p>The contest ended at <strong>{{ contest.time_to | date('M j, Y H:i:s') }}</strong>. The results may be published with some delay.</p>
{% else %}
	<p>The contest will end at <strong>{{ contest.time_to | date('M j, Y H:i:s') }} GMT</strong>. Time left: <strong id="countdown"></strong></p>

	<script>
	window.onload = function() {
		startCountdown("countdown", "{{ contest.time_to | date('M j, Y H:i:s', false) }}");
	};
	</script>
{% endif %}

<h2>Entries</h2>
<div class="level-list">
{% for level in levels %}
	{% set ranking = '' %}
	{% if not contest.active and not level.ranking == 0 %}
		{% if level.ranking == 8 %}
			{% set ranking = 'WINNER' %}
		{% elseif level.ranking == 6 %}
			{% set ranking = '2ND PLACE' %}
		{% elseif level.ranking == 4 %}
			{% set ranking = '3RD PLACE' %}
		{% elseif level.ranking == 2 %}
			{% set ranking = 'HIGHLIGHTED' %}
		{% endif %}
	{% endif %}

	{{ level(level, ranking) }}
{% else %}
	There are no entries yet. You could submit one!
{% endfor %}
</div>

{{ comments(comments, 'contest', contest.id) }}
	{% endblock %}
