{% extends "_layout.twig" %}

{% set title = "Download Principia" %}
{% set description = "Download the latest version of Principia for Windows, Linux, Android and more." %}


{% set version = '2024.07.12' %}
{% set dlurl = 'https://github.com/Bithack/principia/releases/download/'~ version %}

	{% block content %}
<h1>Download Principia</h1>

<p>
	This page contains downloads and instructions for obtaining Principia on all supported platforms.
</p>

<p>
	The latest version of Principia is <strong>{{ version }}</strong>.
	You can see what is new in this release in the <a href="/wiki/Changelog#{{ version }}">Changelog</a>.
<p>
	<strong>Problems</strong>, <em>crashes</em> or <u>bugs</u>? Ask in <a href="/discord">the Discord server</a> or
	on <a href="/forum/">the forums</a>, or
	<a href="https://github.com/Bithack/principia/issues">open an issue on Github</a>.
</p>

<table class="dl">

<tr>
	<td class="plat" id="windows">
		<a href="#windows"><img src="/icons/windows.svg"></a><br>Windows
	</td>
	<td colspan="2">
		<p>
			Windows 10 and above is supported, older versions may work but are not supported. See <a href="/wiki/Windows_Compatibility">Windows Compatibility</a> for more info.
		</p>

		<p>
			<strong>
				<a href="{{ dlurl }}/principia_{{ version }}_win64.exe">
					Principia {{ version }} for Windows - Installer, 64-bit (recommended)
				</a>
			</strong>
		</p>

		<p>
			<a href="{{ dlurl }}/principia_{{ version }}_win64.7z">
				Principia {{ version }} for Windows - Portable, 64-bit
			</a>
		</p>

		<p>
			Administrator privileges are required to run the installer.
			The portable build has some limitations to it that are important to know about, see <a href="/wiki/Windows_Portable">Windows Portable</a> for more info.
		</p>
	</td>
</tr>

<tr>
	<td class="plat" id="android">
		<a href="#android"><img src="/icons/android.svg?v=2"></a><br>Android
	</td>
	<td colspan="2">
		<p>
			Works with Android 5.0 and above
			(<a href="https://voxelmanip.se/2024/09/17/installing-lets-encrypt-certificates-on-old-android/">7.1 and below need to manually install certificates</a>).
			APK contains native libraries for both 32-bit and 64-bit ARM devices as well as x86_64.
		</p>

		<p>
			<strong>
				<a href="{{ dlurl }}/principia_{{ version }}.apk">
					Principia {{ version }} for Android
				</a>
			</strong>
		</p>

		<p>Principia is also available for Android on F-Droid:</p>

		<p>
			<a href="https://f-droid.org/packages/com.bithack.principia/">
				<img src="/assets/fdroid.png" alt="Get it on F-Droid" height="80">
			</a>
		</p>

		<p>
			Keep in mind that the F-Droid build uses a different signing key, which means that if you want to switch to or from F-Droid's builds you will need to fully uninstall Principia before installing the new version. Please back up your user data before doing so.
		</p>

		<p>
			<strong>IMPORTANT WHEN UPDATING</strong>: Principia now stores its user data in scoped app storage
			as compared to in the shared storage. If you have existing levels and data saved locally from 1.5.1 you will need
			to manually migrate it to the new location.
			(See <a href="/wiki/Accessing_Android_Data_Directory">Accessing Android Data Directory</a> for how to access)
		</p>
	</td>
</tr>

<tr>
	<td class="plat" rowspan="7" id="linux">
		<a href="#linux"><img src="/icons/linux.svg?v=2"></a><br>Linux
	</td>
</tr>

<tr>
	<td class="plat" id="appimage">
		<a href="#appimage"><img src="/icons/appimage.svg"></a><br>AppImage
	</td>
	<td>
		<p>
			<strong>GTK+3</strong>, <strong>FUSE2</strong>, <strong>xdg-utils</strong> and functional OpenGL drivers
			are required to be installed on your system!
		</p>

		<p>
			A distro equivalent to Debian 11 Bullseye or newer is required.
		</p>

		<p>
			<strong>
				<a href="{{ dlurl }}/principia_{{ version }}_x86_64.AppImage">
					Principia {{ version }} for Linux - AppImage, 64-bit
				</a>
			</strong>
		</p>

		<p>
			An AppImage is a single file containing the game's files that you run.
			For more information on how to run an AppImage see
			<a href="https://docs.appimage.org/introduction/quickstart.html#ref-how-to-run-appimage">
				AppImage quickstart
			</a>
		</p>
	</td>
</tr>

<tr>
	<td class="plat" id="archlinux">
		<a href="#archlinux"><img src="/icons/arch.svg"></a><br>Arch Linux
	</td>
	<td>
		<p>
			Principia is available in the AUR either as the stable <a href="https://aur.archlinux.org/packages/principia"><code>principia</code></a>
			package or the <a href="https://aur.archlinux.org/packages/principia-git"><code>principia-git</code></a> package tracking the master branch.
			Use your favourite AUR helper, as such:
		</p>

		<p><code>yay -S principia</code></p>

		<p>
			A custom binary repository is also available. To add:
		</p>

		<p><code>echo -e '\n[principia]\nSigLevel = Optional DatabaseOptional\nServer = https://arch.principia-web.se/$arch' | sudo tee -a /etc/pacman.conf</code></p>

		<p>
			A <code>principia</code> binary package for the latest version is available in the repository as well as
			a <code>principia-git</code> package which gets updated every now and then.
		</p>
	</td>
</tr>

{#<tr>
	<td class="plat">
		<a href="#debian"><img src="/icons/debian.svg"></a><br>Debian
	</td>
	<td>
		<p>
			For Debian-based distributions, we have an MPR package tracking the latest master.
		</p>

		<p>
			Install <a href="https://www.makedeb.org/">makedeb</a> (if you do not already have it),
			and make the <a href="https://mpr.makedeb.org/packages/principia-git">principia-git</a> MPR package like such:
		</p>

		<p><code>git clone https://mpr.makedeb.org/principia-git<br>
cd principia-git/<br>
makedeb -si</code></p>
	</td>
</tr>#}

<tr>
	<td class="plat" id="chromeos">
		<a href="#chromeos"><img src="/icons/chrome.svg"></a><br>Chrome OS
	</td>
	<td>
		<p>
			Install and enable the <a href="https://chromeos.dev/en/linux/setup">Linux container environment</a> found on most recent Chrome OS devices.
		</p>

		<p>
			From there, you can run the AppImage if it is an x86_64 device. Otherwise build from source following the instructions for Debian.
		</p>
	</td>
</tr>

<tr>
	<td class="plat" id="nixos">
		<a href="#nixos"><img src="/icons/nix.svg"></a><br>NixOS
	</td>
	<td>
		<p>
			A package for Principia <a href="https://search.nixos.org/packages?channel=unstable&show=principia">is available in nixpkgs</a>.
		</p>
	</td>
</tr>

<tr>
	<td class="plat" id="slackware">
		<a href="#slackware"><img src="/icons/slackware.svg"></a><br>Slackware
	</td>
	<td>
		<p>
			A package for Principia <a href="https://slackbuilds.org/repository/15.0/games/principia/">is available in SlackBuilds</a>.
		</p>
	</td>
</tr>

<tr>
	<td class="plat" id="generic-linux">
		<div class="generic">?</div> <br>Other
	</td>
	<td>
		<p>
			Compilation instructions can be found on the
			<a href="/wiki/Compiling_Principia">Compiling Principia</a> wiki page.
		</p>

		<p>
			<strong>
				<a href="https://github.com/Bithack/principia/archive/refs/tags/{{ version }}.tar.gz">
					Principia {{ version }} source code (.tar.gz)
				</a>
			</strong>
		</p>

		<p>
			Alternatively clone the source repository and build from source <strong>(this will clone latest master)</strong>:
		</p>

		<p><code>git clone --depth 1 https://github.com/Bithack/principia</code></p>
	</td>
</tr>

{#<tr>
	<td class="plat" id="macos">
		<a href="#macos"><img src="/icons/apple.svg"></a><br>macOS
	</td>
	<td colspan="2">
		<p>
			A very experimental port to macOS is available for Principia.
			If you have Mac hardware and are willing to test if Principia works on macOS this would be very appreciated.
		</p>

		<p>
			Nightly builds for macOS are built on every commit which you can
			<a href="https://github.com/Bithack/principia/actions/workflows/macos.yml?query=branch%3Amaster+event%3Apush">download from here</a>
			(requires being logged into Github).
			Alternatively compile from source with the instructions found at <a href="/wiki/Compiling_Principia#macos">Compiling Principia</a>.
		</p>
	</td>
</tr>#}

<tr>
	<td class="plat" id="haiku">
		<a href="#haiku"><img src="/icons/haiku.svg"></a><br>Haiku
	</td>
	<td colspan="2">
		<p>
			An experimental port to Haiku OS is available for Principia.
		</p>

		<p>
			For instructions on how to compile and run Principia on Haiku OS see
			<a href="/wiki/Compiling_Principia#haiku-os">Compiling Principia</a>.
		</p>
	</td>
</tr>

<tr>
	<td class="plat" id="nightly">
		<a href="#nightly"><img src="/icons/wizard-hat.svg"></a><br>Nightly
	</td>
	<td colspan="2">
		<p>
			Whenever a new commit is pushed the game is automatically built by CI for all supported platforms.
			These nightly builds contain changes that have not yet made it into a full release,
			but are also less tested than the release builds.
		</p>

		<p>
			For more information and downloads see the <a href="/wiki/Nightly_Builds">Nightly Builds</a> page.
		</p>
	</td>
</tr>

<tr>
	<td class="plat" id="source">
		<a href="#source"><img src="/icons/root_w.svg"></a><br>Source
	</td>
	<td colspan="2">
		<p>
			The source code for Principia is hosted on <a href="https://github.com/Bithack/principia">Github</a>
			with a read-only mirror available on <a href="https://codeberg.org/principia/principia">Codeberg</a>.
		</p>

		<p>
			For instructions on how to compile Principia from source see the
			<a href="/wiki/Compiling_Principia">Compiling Principia</a> page on the Principia Wiki.
		</p>
	</td>
</tr>

</table>

<p>The downloads for Principia are currently hosted by <a href="https://github.com">Github</a>. Special thanks to <a href="https://voxelmanip.se">ROllerozxa</a> for hosting the Principia downloads prior to 2024.02.29.</p>

<p>For an archive of old Principia versions prior to the open sourcing, as well as Apparatus and Tesla Plushies, see the <a href="https://docs.google.com/spreadsheets/d/1G2YX0BV9_FSrIOvbCQtgYLE1XirCr8UaAfXUzuxjefE/htmlview">Bithack Game Archive Index</a>.</p>

<div style="height:100px"></div>

	{% endblock %}
