{% extends "_layout.twig" %}

{% set title = "Home" %}
{% set description = "A community site for the open source physics-based sandbox game Principia by Bithack. Register today and play some levels!" %}
{% set pagename = "/" %}

	{% block content %}
{% if already_logged and log %}
	<div class="header_message">You're already logged in.</div>
{% endif %}
{% if just_registered and log %}
	<div class="header_message">
		You've been successfully registered and automatically logged in. <strong>Welcome to Principia!</strong><br><br>
		You may want to <a href="/settings">fill out your profile</a> or log in within the Principia client to upload some levels!
	</div>
{% endif %}

{% if log %}
<div class="welcome-back">
	<h1>Welcome back, {{ userdata.name }}</h1>
</div>
{% endif %}

{% if not log and not android_webview_version() %}
<div class="skit">
	<h1>Welcome to Principia</h1>

	<video autoplay loop muted poster="/cool-video-poster.jpg">
		<source src="/cool-video.webm" type="video/webm">
	</video>

	<p>Principia is a physics-based sandbox game. Build and play advanced contraptions, circuiting, minigames, puzzles, robot adventures and more. Open source, free and available for Windows, Linux, Android and more, <a href="/download">download it today</a>.</p>

	<p>This site is the new community site for Principia. When you have installed Principia, enjoy the levels others have created, and <a href="/register">register</a> in order to upload your own levels and interact with the community.</p>
</div>

<div class="skit">
	<h2>Also check out...</h2>

	<div class="buttonbar">
		<a href="https://github.com/Bithack/principia">
			<img src="/icons/github.svg?icon" title="Check out Principia on GitHub" alt="GitHub">
			<span>GitHub</span>
		</a>
		<a href="https://codeberg.org/principia/principia">
			<img src="/icons/codeberg.svg" title="Check out Principia on Codeberg" alt="Codeberg">
			<span>Codeberg</span>
		</a>
		<a href="https://principia-web.se/discord">
			<img src="/icons/discord.svg" title="Join the Principia Discord server" alt="Discord">
			<span>Discord</span>
		</a>
		<a href="https://principia-web.se/matrix">
			<img src="/icons/matrix.svg" title="Join the Principia Matrix space" alt="Matrix">
			<span>Matrix</span>
		</a>
		<a rel="me" href="https://fosstodon.org/@principia">
			<img src="/icons/mastodon.svg" title="Follow Principia on Mastodon" alt="Mastodon">
			<span>Mastodon</span>
		</a>
		<a href="https://sopuli.xyz/c/principia">
			<img src="/icons/lemmy.svg" title="Join the Principia Lemmy community" alt="Lemmy">
			<span>Lemmy</span>
		</a>
	</div>

	<p>And the <a href="https://archive.principia-web.se">Official community site archive</a>, an archive of old levels spanning from 2013 to 2018.</p>
</div>
{% endif %}

<h1 class="center">Featured levels</h1>
<div class="level-list scrollable">
{% for featured_level in featured_levels %}
	{{ level(featured_level) }}
{% else %}
	There are no featured levels. How sad. :'(
{% endfor %}
</div>

<h2 class="header">Latest news <a href="/news">More</a></h2>
<ul class="latestnews">
	{% for new in news %}
		<li><b>{{ new.time | date('j M Y') }}</b><a href="/news/{{ new.id }}">{{ new.title }}</a></li>
	{% else %}
		<li>No news.</li>
	{% endfor %}
</ul>

<div class="intermission">
	<h2>Useful links</h2>

	<div class="buttonbar">
		<a href="https://github.com/Bithack/principia">
			<img src="/icons/github.svg?icon" title="Check out Principia on GitHub" alt="GitHub">
			<span>GitHub</span>
		</a>
		<a href="https://codeberg.org/principia/principia">
			<img src="/icons/codeberg.svg" title="Check out Principia on Codeberg" alt="Codeberg">
			<span>Codeberg</span>
		</a>
		<a href="https://principia-web.se/discord">
			<img src="/icons/discord.svg" title="Join the Principia Discord server" alt="Discord">
			<span>Discord</span>
		</a>
		<a href="https://principia-web.se/matrix">
			<img src="/icons/matrix.svg" title="Join the Principia Matrix space" alt="Matrix">
			<span>Matrix</span>
		</a>
		<a rel="me" href="https://fosstodon.org/@principia">
			<img src="/icons/mastodon.svg" title="Follow Principia on Mastodon" alt="Mastodon">
			<span>Mastodon</span>
		</a>
		<a href="https://sopuli.xyz/c/principia">
			<img src="/icons/lemmy.svg" title="Join the Principia Lemmy community" alt="Lemmy">
			<span>Lemmy</span>
		</a>
	</div>
</div>

<h2 class="header">Top rated levels <a href="/top">More</a></h2>
<div class="level-list scrollable">
{% for top_level in top_levels %}
	{{ level(top_level) }}
{% else %}
	There are no levels. At all.
{% endfor %}
</div>

<h2 class="header">Latest custom levels <a href="/latest/custom">More</a></h2>
<div class="level-list scrollable">
{% for custom_level in custom_levels %}
	{{ level(custom_level) }}
{% else %}
	There are no custom levels. You could create one!
{% endfor %}
</div>

<h2 class="header">Latest adventures <a href="/latest/adventure">More</a></h2>
<div class="level-list scrollable">
{% for adventure_level in adventure_levels %}
	{{ level(adventure_level) }}
{% else %}
	There are no adventure levels. You could create one!
{% endfor %}
</div>

<h2 class="header">Latest puzzles <a href="/latest/puzzle">More</a></h2>
<div class="level-list scrollable">
{% for puzzle_level in puzzle_levels %}
	{{ level(puzzle_level) }}
{% else %}
	There are no puzzle levels. You could create one!
{% endfor %}
</div>

<div class="intermission center">
	<a href="https://archive.principia-web.se">
		<img src="/assets/archive_banner.webp" alt="Browse the community site archive - A full collection of levels uploaded by the community between 2013-2018">
	</a>
</div>

<h2 class="header">Latest comments</h2>
<div class="comments">
	{% for cmnt in latest_comments %}
		<div class="comment" id="comment-{{ cmnt.id }}">
			<p>
				{{ userlink(cmnt, 'u_') }}
				commented on <a href="/level/{{ cmnt.level }}">{{ cmnt.level_name }}</a>:
				<span class="date">{{ cmnt.time | relative_time }}</span>
			</p>
			<span class="comment-text">{{ cmnt.message | markdown_inline | replace({'\n':'<br>'}) | raw }}</span>
		</div>
	{% endfor %}
</div>

<br>
	{% endblock %}
