{% extends "_layout.twig" %}

{% set title = "Home" %}
{% set description = "An unofficial community site replacement for the game Principia by Bithack. Register today and play some levels!" %}

	{% block content %}
{% if just_registered %}
	<div class="header_message">You've been successfully registered and automatically logged in. Welcome to principia-web!</div>
{% endif %}

{% if not log %}
<div class="skit">
	<h1>Welcome to principia-web!</h1>

	<p>Principia-web is an unofficial community site replacement for the game Principia, as the official community site was shut down in early 2018.</p>

	<p>In order to play and upload levels, you will need to <a href="/download">install a mod</a>, available on both Windows and Android, that allows the game to connect to principia-web.</p>

	<p>What are you waiting for? <a href="/register">Register now!</a></p>
</div>
{% endif %}

<h2 class="center">Featured levels</h2>
{% for featured_level in featured_levels %}
	{{ level(featured_level) }}
{% else %}
	There are no featured levels. How sad. :'(
{% endfor %}

<h2 class="header">Latest news <a href="/news">More</a></h2>
<ul>
	{% for new in news %}
		<li><b>{{ new.time | date('M j, Y') }}</b> - <a href="/news/{{ new.id }}">{{ new.title }}</a></li>
	{% else %}
		<li>No news.</li>
	{% endfor %}
</ul>

<h2 class="header">Top rated levels <a href="/top">More</a></h2>
{% for top_level in top_levels %}
	{{ level(top_level) }}
{% else %}
	There are no levels. At all.
{% endfor %}

<h2 class="header">Latest custom levels <a href="/latest/custom">More</a></h2>
{% for custom_level in custom_levels %}
	{{ level(custom_level) }}
{% else %}
	There are no custom levels. You could create one!
{% endfor %}

<h2 class="header">Latest adventures <a href="/latest/adventure">More</a></h2>
{% for adventure_level in adventure_levels %}
	{{ level(adventure_level) }}
{% else %}
	There are no adventure levels. You could create one!
{% endfor %}

{#
<h2 class="header">Latest comments<a href="comments">More</a></h2>
<div class="comments">
{% for i in 0..10 %}
<div class="comment-entry" id="comment-1">
	<p>
		<a class="user" href="user.php?id=1"><span class="t_user">null</span></a>
		commented on <a href="level.php?id=1">some level</a>:
		<span class="date">2 hours ago</span>
	</p>
	<span class="comment-text">Blah blah</span>
</div>
{% endfor %}
</div>
#}
<br><br>
	{% endblock %}