{% extends "_layout.twig" %}

{% if constant('IS_ARCHIVE') %}
	{% set term = 'Browse' %}
	{% set description = "Browse all the levels that were ever uploaded to the official Principia community site." %}
{% else %}
	{% set term = 'Latest' %}
	{% set description = "View the latest levels uploaded to the Principia community site." %}
{% endif %}

{% if page == 1 %}
	{% set title = term ~ " levels" %}
{% else %}
	{% set title = term ~ " levels (Page " ~ page ~ ")" %}
{% endif %}
{% if type != 'all' %}
	{% set pagename = archive_prefix() ~ '/latest/' ~ type %}
{% endif %}

	{% block content %}
<h1>{{ term }} levels {% if page != 1 %}(Page {{ page }}){% endif %}</h1>

{% if constant('IS_ARCHIVE') %}
	<p>
		<em>Browse all of the levels that were uploaded to the official Principia community site, in order of most recently uploaded.</em>
	</p>
{% else %}
	<p>
		<em>View the latest levels made by the community.</em>
	</p>
{% endif %}

{{ blarg('latest', 'Go to the non-archive latest levels page', 'Go to the archive latest levels page') }}

<p>Filter by level type:</p>

<div class="latest-buttons">
	<a class="play-btn {% if type == 'custom' %}blue{% else %}green{% endif %}" href="{{ '/latest/custom' | archive_prefix }} ">Custom</a>
	<a class="play-btn {% if type == 'adventure' %}blue{% else %}green{% endif %}" href="{{ '/latest/adventure' | archive_prefix }}">Adventure</a>
	<a class="play-btn {% if type == 'puzzle' %}blue{% else %}green{% endif %}" href="{{ '/latest/puzzle' | archive_prefix }}">Puzzle</a>
	<a class="play-btn {% if type == 'all' %}blue{% else %}green{% endif %}" href="{{ '/latest' | archive_prefix }}">All</a>
</div>

<div class="level-list">
{% for level in levels %}
	{{ level(level) }}
{% else %}
	There are no {% if type != 'all' %}{{ type }}{% endif %} levels. You could create one!
{% endfor %}
</div>

{% if type == 'all' %}
	{% set le_url = '/latest?page=%s' %}
{% else %}
	{% set le_url = '/latest/' ~ type ~ '?page=%s' %}
{% endif %}
{{ pagination(level_count, glob_lpp, archive_prefix() ~ le_url, page) }}

<br><br>
	{% endblock %}