{% extends "_layout.twig" %}

{% if constant('IS_ARCHIVE') %}
	{% set img_url = "/thumbs/" ~ lid ~ "-0-0.jpg" %}
	{% set play_domain = "principia://archive.principia-web.se" %}
{% else %}
	{% set img_url = "/thumbs/" ~ lid ~ ".jpg" %}
	{% set play_domain = "principia://principia-web.se" %}
{% endif %}

{% set title = level.title %}
{% set description = level.description %}
{% set image = domain ~ img_url %}
{% set pagename = "/level/" ~ lid %}

	{% block content %}
{% if already_entered %}
	<div class="header_message">You've already entered this level into the <b>{{ contest_entered.title }}</b> contest.</div>
{% elseif contest_entered %}
	<div class="header_message">Your level has been successfully entered into the <b>{{ contest_entered.title }}</b> contest!</div>
{% endif %}

<h1>{{ level.title }}</h1>

<span class="misc">
	By {{ userlink(level, 'u_') }}
	&ndash; {{ level.cat | cat_to_type | title }} level
	&ndash; uploaded {{ level.time | date('j M Y') }} from {{ level.platform }}</span>

<div class="lvl-box">
	<div class="img">
		{% if level.revision > 1 %}
			<span class="revision">
				Revision #{{ level.revision }}, updated
				{% if constant('IS_ARCHIVE') %}
					N/A
				{% else %}
					{{ level.revision_time | date('j M Y') }}
				{% endif %}
			</span>
		{% endif %}
		{% if not level.visibility == 1 %}
			<a href="{{ img_url }}"><img src="{{ img_url }}" alt=""></a>
		{% else %}
			<img src="/assets/locked_thumb.svg" alt="Locked level">
		{% endif %}
	</div>

	<div class="info">
		{% if not level.visibility == 1 %}
			<a class="play-btn green" id="protocol-button" href="{{ play_domain }}/play/lvl/db/{{ lid }}" onclick="/**/">Play</a>
			{%- if level.author == userdata.id -%}
				<a class="play-btn blue" href="{{ play_domain }}/edit/db/{{ lid }}">Edit</a>
			{%- else -%}
				<a class="play-btn blue" href="{{ play_domain }}/sandbox/db/{{ lid }}">Edit</a>
			{%- endif -%}

			{%- if userdata.rank > 2 and level.author != userdata.id -%}
				<a class="play-btn blue" href="{{ play_domain }}/edit/db/{{ lid }}">Edit <span class="text-for-ants">[Admin]</span></a>
			{%- endif -%}

			{%- if log and not has_liked -%}
				<button class="play-btn green" id="btn_like" onclick="vote(this, {{ level.id }})">Like</button>
			{% endif %}
			{% if level.likes > 0 %}
				<span class="likemsg">{{ level.likes }} player{% if level.likes != 1 %}s{% endif %} liked this.</span>
			{% endif %}
		{% else %}
			<p><em>This level has been locked. It will not be visible outside of this level page.</em></p>
		{% endif %}

		<div class="protocol-issues" id="protocol-issues">
			<strong>Issues trying to play levels?</strong>
			<a href="{{ '/wiki/Troubleshoot_Playing_Levels' | main_site }}">Troubleshoot issues playing levels</a>
		</div>

		<p>
			{% if constant('IS_ARCHIVE') %}
				{{ level.description | replace({'&gt;': '>', '&lt;': '<'}) | nl2br }}
			{% else %}
				{{ level.description | markdown }}
			{% endif %}
		</p>
	</div>
</div>

<div class="lvl-data">
	<p>
		{% if not constant('IS_ARCHIVE') %}Views: {{ level.views }} -{% endif %}
		Downloads: {{ level.downloads }} -
		Level ID: {{ level.id }}
	</p>

	{% if userdata.id == level.author or userdata.rank > 1 %}
	<form method="POST"><p>
		<a href="/level/{{ lid }}?togglelock">{% if level.visibility == 1 %}Unlock level{% else %}Lock level{% endif %}</a>
		- <a href="/editlevel?id={{ lid }}">Modify metadata</a>
		{% if userdata.id == level.author and contests %}
			- Add to contest:
			<select name="addtocontest" onchange="this.form.submit()">
				<option value="-1" selected>- None selected -</option>
				{# HACK: contest id 2 only allows puzzles to be submitted #}
				{% for contest in contests %}{% if level.cat == 3 or contest.id != 2 %}<option value="{{ contest.id }}">{{ contest.title }}</option>{% endif %}{% endfor %}
			</select>
		{% endif %}
	</p></form>
	{% endif %}
</div>

{% if leaderboard %}
	<br><table class="settings autowidth">
		<tr>
			<th style="width:50px"></th>
			<th>Username</th>
			<th style="width:100px">Score</th>
		</tr>
		{% set i = 1 %}
		{% for entry in leaderboard %}
			<tr>
				<td class="center">{{ i }}.</td>
				<td>{{ userlink(entry, 'u_') }}</td>
				<td class="right">{{ entry.score | number_format }}</td>
			</tr>
			{% set i = i + 1 %}
		{% endfor %}
	</table>
{% endif %}

{% if derivatives %}
	<h2>Derivatives</h2>
	<div class="level-list">
		{% for derivative in derivatives %}
			{{ level(derivative) }}
		{% endfor %}
	</div>
	<br><br>
{% endif %}

{% if parentlevel %}
	<h2>Parent</h2>
	{{ level(parentlevel) }}
{% endif %}

{% if not constant('IS_ARCHIVE') %}
	{{ comments(comments, 'level', level.id) }}
{% endif %}
	{% endblock %}
