{% extends "_layout.twig" %}

{% set title = level.title %}
{% set description = level.description %}
{% set image = domain ~ "/levels/thumbs/" ~ lid ~ ".jpg" %}

	{% block content %}
{% if already_entered %}
	<div class="header_message">You've already entered this level into the <b>{{ contest_entered }}</b> contest.</div>
{% elseif contest_entered %}
	<div class="header_message">Your level has been successfully entered into the <b>{{ contest_entered }}</b> contest!</div>
{% endif %}
<h1>{{ level.title }}</h1>
<span class="misc">
	  {{ userlink(level, 'u_') }}
	- {{ level.cat | cat_to_type | title }} level
	- {{ level.time | date('M j, Y') }} from {{ level.platform }}</span>
<div class="lvl-box">
	<div class="info">
		{% if not level.visibility == 1 %}
			<div id="buttons">
				<a class="play" href="principia://play/lvl/db/{{ lid }}">Play</a>
				{%- if level.author == userdata.id -%}
					<a class="play play-edit" href="principia://edit/db/{{ lid }}">Edit</a>
				{%- elseif level.derivatives -%}
					<a class="play play-edit" href="principia://sandbox/db/{{ lid }}">Edit</a>
				{%- elseif userdata.powerlevel > 1 -%}
					<a class="play play-edit" href="principia://sandbox/db/{{ lid }}">Edit*</a>
				{%- endif -%}

				{%- if userdata.powerlevel > 2 and level.author != userdata.id -%}
					<a class="play play-edit" href="principia://edit/db/{{ lid }}">Edit <span class="text-for-ants">[Admin]</span></a>
				{%- endif -%}

				{%- if log and not has_liked -%}
					<button class="play" id="btn_like" onclick="vote(this, {{ level.id }})">Like</button>
				{% endif %}
				{% if level.likes > 0 %}
					<span class="likemsg">{{ level.likes }} players liked this.</span>
				{% endif %}
			</div>
		{% else %}
			<p><em>This level has been locked. It will not be visible outside of this level page.</em></p>
		{% endif %}
		<p>{{ level.description | markdown }}</p>

	</div>
	<div class="img">
		{% if not level.visibility == 1 %}
			<img src="/levels/thumbs/{{ level.id }}.jpg" alt="">
		{% else %}
			<img src="/assets/locked_thumb.svg" alt="Locked level">
		{% endif %}
		{% if level.revision > 1 %}
			<span class="revision">Revision #{{ level.revision }}, updated {{ level.time | date('M j, Y') }}</span>
		{% endif %}
	</div>
</div>
<div class="lvl-data">
	<p>
		Views: {{ level.views }}
		Downloads: {{ level.downloads }}
		Level ID: {{ level.id }}
	</p>
	{% if userdata.id == level.author or userdata.powerlevel > 1 %}
	<form method="POST"><p>
		
			<a href="/level/{{ lid }}?togglelock">{% if level.visibility == 1 %}Unlock level{% else %}Lock level{% endif %}</a>
		

		{% if userdata.id == level.author and contests %}
			- Add to contest:
			<select name="addtocontest" onchange="this.form.submit()">
				<option value="-1" selected>- None selected -</option>
				{% for contest in contests %}<option value="{{ contest.id }}">{{ contest.title }}</option>{% endfor %}
			</select>
		{% endif %}
	</p></form>
	{% endif %}
</div>

{% if derivatives %}
	<h2>Derivatives</h2>
	{% for derivative in derivatives %}
		{{ level(derivative) }}
	{% endfor %}
{% endif %}

{% if parentlevel %}
	<h2>Parent</h2>
	{{ level(parentlevel) }}
{% endif %}

{{ comments(comments, 'level', level.id) }}
	{% endblock %}
