{% extends "_layout.twig" %}

{% if newsid %}
	{% set title = news.title %}
	{% set description = news.text %}
	{% set pagename = "/news/" ~ newsid %}
{% else %}
	{% set title = "News" %}
{% endif %}

	{% block content %}
{% if newsid %}
	<h1>{{ news.title }}</h1>

	{% if news.cover %}
		<img src="images/{{ newsid }}/cover.webp" style="max-width:100%">
	{% endif %}

	<p><em>Posted on {{ news.time | date('j F Y') }} by {{ news.author | default('ROllerozxa') }}</em></p>
	<div class="news">
		{{ news.text | markdown_unsafe }}
	</div>
{% else %}
	<h1 class="header">Latest News</h1>

	<p>The latest news is also available as an <a href="/news/feed">RSS feed</a>.</p>

	<ul class="latestnews">
		{% for article in news %}
			<li><b>{{ article.time | date('j M Y') }}</b><a href="/news/{{ article.id }}">{{ article.title }}</a></li>
		{% else %}
			<li>No news.</li>
		{% endfor %}
	<ul>
{% endif %}
	{% endblock %}
