{% extends "_layout.twig" %}

{% if newsid %}
	{% set title = news.title %}
	{% set description = news.text %}
	{% set pagename = "/news/" ~ newsid %}
{% else %}
	{% set title = "News" %}
{% endif %}

	{% block content %}
{% if newsid %}
	<h1>{{ news.title }}</h1>
	<p><em>Published on the {{ time }}</em></p>
	<p>{{ news.text | markdown_unsafe }}</p>

	{{ comments(comments, 'news', news.id) }}
{% else %}
	<h1 class="header">Latest News {% if userdata.powerlevel > 2 %}<a href="/news?new">New</a>{% endif %}</h1>
	<ul>
		{% for new in news %}
			<li><a href="/news/{{ new.id }}">{{ new.title }}</li>
		{% else %}
			<li>No news.</li>
		{% endfor %}
	<ul>
{% endif %}
	{% endblock %}
