{% extends "_layout.twig" %}

{% set title = pkg.title %}
{% set pagename = "/package/" ~ pkg.id %}

	{% block content %}
<h1>{{ pkg.title }}</h1>
<span class="misc">
	  {{ userlink(pkg, 'u_') }}
	- Package
	- {{ pkg.time | date('M j, Y') }}</span>
<div class="lvl-box">
	<div class="info">
		<div id="buttons">
			<a class="play" href="principia://play/pkg/db/{{ id }}">Play</a>
		</div>
		<p>{{ pkg.description | markdown }}</p>
	</div>
	<div class="img">
		<img src="/assets/package_thumb.svg" alt="Package">
	</div>
</div>
<div class="lvl-data">
	<p>
		Views: {{ pkg.views }}
		Downloads: {{ pkg.downloads }}
		Package ID: {{ pkg.id }}
	</p>
</div>

{{ comments(comments, 'package', pkg.id) }}
	{% endblock %}