{% extends "_layout_minimal.twig" %}

{% set title = "Play in browser (BETA)" %}

	{% block content %}
{% if constant('IS_ARCHIVE') %}
	{% set play_id = lid + constant('ARCHIVE_LVL_OFFSET') %}
{% else %}
	{% set play_id = lid %}
{% endif %}

<h1>Play in browser <span class="beta">(BETA)</span></h1>

<p>
	Playing <strong>{{ level.title }}</strong> by {{ userlink(level, 'u_') }}
</p>

<p>
	<a href="{% if constant('IS_ARCHIVE') %}/archive/level/{{ lid }}{% else %}/level/{{ lid }}{% endif %}">&larr; Back to level page</a>
</p>

<p>
	This is an experimental way to play Principia levels directly in your web browser using WebAssembly.
</p>

<p>
	Keep in mind that the web port of Principia is <strong>highly experimental</strong> with bugs and graphical glitches, performance will be worse than when running a native version of the game, and many features may not work as expected.
	Mobile devices are not supported.
</p>

<p>
	Please be patient when playing a level in the web browser for the first time, as it needs to download all the game data (about 18MB in total) before starting.
</p>

<p>
	<a href="/wasm/?play={{ play_id }}" target="_blank">Open level in a new tab</a>
</p>

<div class="game-wrapper">
	<iframe src="/wasm/?play={{ play_id }}" width="1280" height="720"></iframe>
</div>
	{% endblock %}