{% extends "_layout.twig" %}

{% set title = "Register" %}
{% set description = "Register an account on principia-web to be able to upload and comment on levels!" %}

	{% block content %}
{% if error %}
	<div class="header_message">The following errors occured when trying to register: <br>- {{ error | join('<br>- ') | raw }}</div>
{% endif %}

<h1 class="center">Register</h1>

<form class="reglog" method="POST">
	<input type="hidden" name="uwu" value="{{ current_captcha.id }}">

	<p>Register an account on principia-web to be able to upload and comment on levels!</p>

	<div>
		<span>Username:</span>
		<input type="text" name="name" size="25" maxlength="25" value="{{ name }}" required>
	</div><div>
		<span>Email:</span>
		<input type="email" name="mail" size="25" value="{{ mail }}" required>
	</div>

	<div>
		<span>Password:</span>
		<input type="password" name="pass" size="25" maxlength="64" required>
	</div><div>
		<span>Password again:</span>
		<input type="password" name="pass2" size="25" maxlength="64" required>
	</div>

	<div>
		<span>Security question:</span>
		<input type="text" name="jupiter" size="25" required>
		<br><br><em>{{ current_captcha.question }}</em>
	</div>

	<div><br><input type="submit" name="action" value="Register"></div>
</form>
	{% endblock %}