{% extends "_layout.twig" %}

{% set title = "Search" %}
{% set description = "Search through a wide range of levels available for Principia." %}
{% set noindex = true %}

	{% block content %}
<h1 class="header">Search levels <a href="/forum/search">Search the forums</a></h1>

<form>
	<input type="text" name="query" value="{{ query }}" style="width:360px">

	<p><label><input type="checkbox" name="descr" value="1" {% if descr == 1 %}checked{% endif %}> Also search descriptions</label></p>

	<p><label><input type="checkbox" name="boolean" value="1" {% if boolean == 1 %}checked{% endif %}> Boolean search mode</label>
		<sup><a href="https://mariadb.com/kb/en/full-text-index-overview/#in-boolean-mode" target="_blank">[?]</a></sup></p>

	<input type="submit" value="Search">
</form><br>

{% set level_count = 0 %}

{% if query %}
	<div class="level-list">
	{% for level in levels %}
		{{ level(level) }}
		{% set level_count = level.cnt %}
	{% else %}
		<h3>Search returned no results.</h3>
	{% endfor %}
	</div>

	{% set le_url = 'search?query=' ~ query ~ '&page=%s' %}
	{% if descr == 1 %}
		{% set le_url = le_url ~ '&descr=1' %}
	{% endif %}
	{% if boolean == 1 %}
		{% set le_url = le_url ~ '&boolean=1' %}
	{% endif %}
	{{ pagination(level_count, glob_lpp, le_url, page) }}

	<p>Want more or can't find what you're looking for? <a href="https://archive.principia-web.se/search?query={{ query }}">Search for '{{ query }}' the official community site archive.</a></p>
{% endif %}

	{% endblock %}