{% extends "_layout.twig" %}

{% set title = "Settings" %}
{% set noindex = true %}

	{% block content %}
<form action="settings" method="post" enctype="multipart/form-data">
<h1>Settings</h1>

{#<h3>Credentials</h3>
<table class="settings">
	<tr>
		<td class="a">Username</td>
		<td class="b">{{ userdata.name }}</td>
	</tr>
	<tr>
		<td class="a">Email address
			<abbr title="Emails are stored hashed and cannot be retrieved outside of providing the email during password resets.">(?)</abbr></td>
		<td class="b"></td>
	</tr>
	<tr>
		<td class="a">Password</td>
		<td class="b">********</td>
	</tr>
</table>#}

<table class="settings">
	<tr>
		<th></th>
		<th class="left">Customise your profile</th>
	{% if userdata.rank > 2 %}
	<tr>
		<td class="a">Title</td>
		<td class="b"><input type="text" name="title" size="45" maxlength="256" style="width:60%" value="{{ userdata.title }}"></td>
	</tr>
	{% endif %}
	{% if userdata.rank > 1 %}
	<tr>
		<td class="a">Custom color</td>
		<td class="b"><input name="customcolor" size="12" value="{{ userdata.customcolor | default('0000aa') }}" data-jscolor="{}"></td>
	</tr>
	{% endif %}
	<tr>
		<td class="a">Avatar</td>
		<td class="b">
			{% if userdata.avatar %}
				<span style="float:left;margin-right:20px"><img src="/userpic/{{ userdata.id }}" alt=\"(Avatar)\" height="64"></span>
				<strong>Upload new:</strong><br><input type="file" name="avatar" style="margin-top:10px" size=240> <span class="fotnot">(max 180x180, &lt;80KB)</span>
			{% else %}
				<input type="file" name="avatar">
			{% endif %}
		</td>
	</tr>

	<tr>
		<td class="a">Pronouns</td>
		<td class="b">
			<input type="text" name="pronouns" maxlength="16" style="width:120px" value="{{ userdata.pronouns }}"><br>
			<div class="fotnot">(These will be displayed next to your username so users can know what you go by)</div>
		</td>
	</tr>

	<tr>
		<td class="a">About <div class="fotnot">(Markdown allowed)</div></td>
		<td class="b"><textarea name="about" rows="7" cols="80" style="width:90%">{{ userdata.about }}</textarea></td>
	</tr>
	<tr>
		<td class="a">Location</td>
		<td class="b"><input type="text" name="location" size="45" maxlength="128" style="width:60%" value="{{ userdata.location }}"></td>
	</tr>
	<tr>
		<td class="a">Forum signature <div class="fotnot">(Markdown allowed)</div></td>
		<td class="b"><textarea name="signature" rows="7" cols="80" style="width:90%">{{ userdata.signature }}</textarea></td>
	</tr>

	<tr>
		<td class="a">Old community site name</td>
		<td class="b">
			<input type="text" name="archivename" size="45" maxlength="128" style="width:60%" value="{{ userdata.archivename }}"><br>
			<div class="fotnot">(Input the username you used on the <a href="https://archive.principia-web.se/">official community site</a> to link it to principia-web)</div>
		</td>
	</tr>

	<tr>
		<th></th>
		<th class="left">Options</th>
	</tr>
	<tr>
		<td class="a">Theme</td>
		<td class="b">
			<label><input type="radio" name="darkmode" value="0" {% if not userdata.darkmode %}checked{% endif %}>Light mode </label>
			<label><input type="radio" name="darkmode" value="1" {% if userdata.darkmode %}checked{% endif %}>Dark mode </label>
		</td>
	<tr>
		<td class="a">Timezone</td>
		<td class="b">
			<select name="timezone">
				{% for timezone in timezones %}
					<option value="{{ timezone }}" {% if userdata.timezone == timezone %}selected{% endif %}>{{ timezone }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>

	<tr>
		<td class="a"></td>
		<td class="b"><a href="/userexport">Export your user data</a></td>
	</tr>

	<tr>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td class="a"></td>
		<td class="b"><input type="submit" name="action" value="Save all changes">
	</tr>
</table>
</form><br>
	{% endblock %}

{% block custom_footer %}
	{% if userdata.rank > 1 %}
		<script src="assets/js/jscolor.min.js"></script>
	{% endif %}
{% endblock %}
