{% extends "_layout.twig" %}

{% block title %}{{ name }}{% endblock %}

	{% block content %}
<h2>{{ name }}</h2>

{% if userdata.id == id and not forceuser %}
<p>Welcome to your personal user page. Here, you can see and manage your uploaded levels, customize your profile, and edit your settings.</p>

<p><a href="user.php?id={{ id }}&darkmode">Toggle hacky dark mode</a> (Experimental!) | <a href="javascript:document.logout.submit()">Log out</a></p>

<form action="login.php" method="post" name="logout">
	<input type="hidden" name="logout" value="yes">
</form>

<h3>Notifications</h3>
<ul>
	{% for notif in notifs %}
		<li>{{ notif | raw }}</li>
	{% else %}
		<li>No new notifications!</li>
	{% endfor %}
</ul>
{% endif %}

{% for level in levels %}
	{{ level(level) }}
{% else %}
	This user doesn't have any uploaded levels.
{% endfor %}

{% set le_url = 'user.php?id=' ~ id ~ '&page=%s' %}
{{ pagination(level_count, glob_lpp, le_url, page) }}

<br><br>
	{% endblock %}