{% extends "_layout.twig" %}

{% set title = "User list" %}

	{% block content %}
<h1>User list</h1>
<table class="settings">
	<tr>
		<th style="width:50px">ID</th>
		<th>Username</th>
		{% if not constant('IS_ARCHIVE') %}<th style="width:180px">Registered on</th>{% endif %}
		<th style="width:80px">Levels</th>
	</tr>
	{% for user in users %}
		{% if not (user.name starts with 'deleted_user_') %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ userlink(user) }}
					{% if user.rank > 1 %}<span title="User is a moderator.">{{ icon("shield") }}</span>{% endif %}
					{% if user.rank > 3 %}<span title="User is a root administrator.">{{ icon("root") }}</span>{% endif %}</td>
				{% if not constant('IS_ARCHIVE') %}<td class="center">{{ user.joined | date('Y-m-d H:i') }}</td>{% endif %}
				<td class="center">{{ levelcounts[user.id] | default('N/A') }}</td>
			</tr>
		{% endif %}
	{% endfor %}
</table>
	{% endblock %}