{% extends "_layout.twig" %}

{% block title %}{{ name }}{% endblock %}

	{% block content %}
{% if markread %}
	<div class="header_message">Marked all notifications as read.</div>
{% elseif edited %}
	<div class="header_message">Settings successfully saved!</div>
{% elseif justbanned == "ban" %}
	<div class="header_message">Successfully banned this user.</div>
{% elseif justbanned == "unban" %}
	<div class="header_message">Successfully unbanned this user.</div>
{% endif %}

{% if userdata.id == id and not forceuser %}
<h2>{{ name }}</h2>

{% if userdata.powerlevel == 0 %}
<div class="banner b-red userban">
	Your account has been banned.
	{% if userdata.banreason %}
		<br><br>Reason: {{ userdata.banreason }}
	{% else %}
		<br><br>No reason was provided.
	{% endif %}
</div>
{% endif %}

<p>Welcome to your personal user page. Here, you can see and manage your uploaded levels, customize your profile, and edit your settings.</p>

<p><a href="/settings.php">Edit my settings</a>
{% if glob_forum %}
	&bull; <a href="/forum/private.php">View my private messages</a>
{% endif %}
&bull; <a href="/user.php?id={{ id }}&forceuser">View user page as viewer</a>
&bull; <a href="javascript:document.logout.submit()">Log out</a></p>

{% if userdata.powerlevel > 2 %}
<p><a href="/admin.php">Admin panel</a></p>
{% endif %}

<form action="/login.php" method="post" name="logout">
	<input type="hidden" name="logout" value="yes">
</form>

<h3>Links</h3>

<ul>
	<li><a href="/download.php">Download principia-web mods</a></li>
	<li><a href="/level-archive.php">Browse the Community Level Archive</a></li>
	{% if discord_invite %}
		<li><a href="{{ discord_invite }}">Unofficial Principia Discord Server</a></li>
	{% endif %}
</ul>

<h3>Notifications</h3>
<ul>
	{% for notif in notifs %}
		<li>{{ notif | raw }}</li>
	{% else %}
		<li>No new notifications!</li>
	{% endfor %}
	{% if notifs %}
		<br><li><a href="/user.php?id={{ id }}&markread">Mark all as read</a></li>
	{% endif %}
</ul>
{% else %}
<div class="user_stats">
	<div class="topthing"><b>General information</b></div>
	{% if glob_forum %}
		<div class="row">
			<b>Forum Threads</b>: {{ userpagedata.threads }}
			<span class="pad"><b>Forum Posts</b>: {{ userpagedata.posts }}</span>
		</div>
	{% endif %}
	<div class="row">
		<b>Registered on</b>: {{ userpagedata.joined | date('Y-m-d H:i:s') }}
	</div>
	<div class="row">
		<b>Last view</b>: {{ userpagedata.lastview | relative_time }}
	</div>
</div>
<h2>{{ name }}
	{% if userpagedata.powerlevel > 1 %}<img class="sdsd" src="/assets/icons/shield.svg" height="16" title="User is a moderator.">{% endif %}
	{% if userpagedata.powerlevel < 1 %}<img class="sdsd" src="/assets/icons/gavel.svg" height="16" title="User has been banned.">{% endif %}</h2>

<div class="user_about">
	<h3>About this user</h3>
	{{ userpagedata.about | raw }}
</div>

<p class="clear_right">
	{% if glob_forum %}
		<a href="/forum/forum.php?user={{ id }}">View threads</a>
		&bull; <a href="/forum/thread.php?user={{ id }}">Show posts</a>
		{% if log %}
			{% if userdata.id != id %}
				&bull; <a href="/forum/sendprivate.php?uid={{ id }}">Send private message</a>
			{% endif %}
			{% if userdata.powerlevel > 2 %}
				&bull; <a href="/resetpassword.php?grf={{ id }}">Generate password reset for user</a>
				&bull; <a href="/forum/editperms.php?uid={{ id }}">Edit forum permissions</a>
			{% endif %}
			{% if userdata.powerlevel > 1 %}
				&bull; <a href="/_ban_user.php?id={{ id }}">{% if userpagedata.powerlevel < 1 %}Unb{% else %}B{% endif %}an user</a>
			{% endif %}
		{% endif %}
	{% endif %}
</p>

{% for level in levels %}
	{{ level(level) }}
{% else %}
	This user doesn't have any uploaded levels.
{% endfor %}

{% if userdata.id == id %}
	{% set forceuser = "&forceuser" %}
{% else %}
	{% set forceuser = "" %}
{% endif %}
{% set le_url = '/user.php?id=' ~ id ~ '&page=%s' ~ forceuser %}
{{ pagination(level_count, glob_lpp, le_url, page) }}

<h2>Comments</h2>
{{ comments(comments, 'user', id) }}
<br>
{% endif %}
	{% endblock %}