{% extends "_layout.twig" %}

{% set title = name %}
{% set description = userpagedata.about|replace({"\r":'',"\n":' '}) %}
{% set pagename = "/user/" ~ id %}

	{% block content %}
{% if action == 'markread' %}
	<div class="header_message">Marked all notifications as read.</div>
{% elseif action == 'edited' %}
	<div class="header_message">Settings successfully saved!</div>
{% elseif action == 'ban' %}
	<div class="header_message">Successfully banned this user.</div>
{% elseif action == 'unban' %}
	<div class="header_message">Successfully unbanned this user.</div>
{% endif %}

{% if userdata.id == id and not forceuser %}
<h1>{{ name }}</h1>

{% if userdata.rank < 0 %}
<div class="banner b-red userban">
	Your account has been banned.
	{% if userdata.banreason %}
		<br><br>Reason: {{ userdata.banreason }}
	{% else %}
		<br><br>No reason was provided.
	{% endif %}
</div>
{% endif %}

<p>Welcome to your personal user page. Here, you can see and manage your uploaded levels, customise your profile, and edit your settings.</p>

<p><a href="/settings">Edit my settings</a>
&ndash; <a href="/forum/private">View my private messages</a>
&ndash; <a href="/user/{{ id }}?forceuser">View user page as viewer</a>
&ndash; <a href="javascript:document.logout.submit()">Log out</a></p>

{% if userdata.rank > 2 %}
	<p><a href="/admin">Admin panel</a></p>
{% endif %}

<form action="/login" method="post" name="logout">
	<input type="hidden" name="logout" value="yes">
</form>

<h3>Notifications</h3>
<ul>
	{% for notif in notifs %}
		<li>{{ notif | raw }}</li>
	{% else %}
		<li>No new notifications!</li>
	{% endfor %}
	{% if notifs %}
		<li><a href="/user/{{ id }}?markread">Mark all as read</a></li>
	{% endif %}
</ul>
{% else %}

<div class="user_stats">
	<div class="topthing"><b>General information</b></div>

	{% if level_count > 0 %}
		<div class="row">
			<b>Levels Uploaded</b>: {{ level_count }}
		</div>
	{% endif %}

	{% if userpagedata.posts > 0 %}
		<div class="row">
			<b>Threads</b>: {{ userpagedata.threads }} (<a href="/forum/forum?user={{ id }}">Show</a>)
			<span class="pad"><b>Posts</b>: {{ userpagedata.posts }} (<a href="/forum/thread?user={{ id }}">Show</a>)</span>
		</div>
	{% endif %}

	{% if wikiconts > 0 %}
		<div class="row">
			<b>Wiki contributions</b>: {{ wikiconts }} (<a href="/wiki/Special:Contributions?id={{ id }}">Show</a>)
		</div>
	{% endif %}

	<div class="row">
		<b>Registered on</b>: {{ userpagedata.joined | date('Y-m-d H:i:s') }}
	</div>
	<div class="row">
		<b>Last view</b>: {{ userpagedata.lastview | relative_time }}
	</div>

	{% if userdata.rank > 2 %}
		<div class="row right">
			<span class="sensitive">{{ userpagedata.ip }}</span>
		</div>
	{% endif %}
</div>

{% if userpagedata.avatar %}
	<div class="user_pic"><img src="/userpic/{{ id }}"></div>
{% endif %}

<h1>{{ name }}
	{% if userpagedata.rank > 1 %}<img src="/assets/icons/shield{% if userdata.darkmode %}_w{%endif%}.svg" height="20" title="User is a moderator.">{% endif %}
	{% if userpagedata.rank > 3 %}<img src="/assets/icons/root{% if userdata.darkmode %}_w{%endif%}.svg" height="20" title="User is a root administrator.">{% endif %}
	{% if userpagedata.rank < 0 %}<img src="/assets/icons/gavel{% if userdata.darkmode %}_w{%endif%}.svg" height="20" title="User has been banned.">{% endif %}
	{% if userpagedata.pronouns %}<span class="pronouns">({{ userpagedata.pronouns }})</span>{% endif %}</h1>

<div class="user_about">
	<h3>About this user</h3>
	{{ userpagedata.about | default("*This user hasn't written anything about themselves yet...*") | markdown }}
</div>

<p class="clear_right">
	{% if log %}
		<strong>User actions:</strong>

		{% if userdata.id != id %}
			<a href="/forum/sendprivate?uid={{ id }}">Send private message</a>
		{% else %}
			<a href="/user/{{ id }}">Go to personal user page</a>
		{% endif %}
		{% if userdata.rank > 2 %}
			&ndash; <a href="/resetpassword?grf={{ id }}">Generate password reset for user</a>
		{% endif %}
		{% if userdata.rank > 1 %}
			&ndash; <a href="/_ban_user?id={{ id }}">{% if userpagedata.rank < 0 %}Unb{% else %}B{% endif %}an user</a>
		{% endif %}
	{% endif %}
</p>

{% if userpagedata.archivename %}
	<h3><a href="https://archive.principia-web.se/user/{{ userpagedata.archivename }}">
		View this user's levels on the official community site archive
	</a></h3>
{% endif %}

<h2>Levels</h2>

<div class="level-list">
{% for level in levels %}
	{{ level(level) }}
{% else %}
	This user hasn't uploaded any levels yet!
{% endfor %}
</div>

{% if userdata.id == id %}
	{% set forceuser = "&forceuser" %}
{% else %}
	{% set forceuser = "" %}
{% endif %}
{% set le_url = '/user/' ~ id ~ '?page=%s' ~ forceuser %}
{{ pagination(level_count, glob_lpp, le_url, page) }}

{{ comments(comments, 'user', id) }}
{% endif %}
	{% endblock %}
