{% extends "_layout.twig" %}

{% set title = name %}
{% set description = userpagedata.about|replace({"\r":'',"\n":' '}) %}
{% set pagename = archive_prefix() ~ "/user/" ~ id %}

	{% block content %}
{% if action == 'ban' %}
	<div class="header_message">Successfully banned this user.</div>
{% elseif action == 'unban' %}
	<div class="header_message">Successfully unbanned this user.</div>
{% endif %}

{% if not constant('IS_ARCHIVE') %}

<div class="user_stats">
	<div class="topthing"><b>General information</b></div>

	{% if level_count > 0 %}
		<div class="row">
			<b>Levels Uploaded</b>: {{ level_count }}
		</div>
	{% endif %}

	{% if userpagedata.posts > 0 %}
		<div class="row">
			<b>Threads</b>: {{ userpagedata.threads }} (<a href="/forum/forum?user={{ id }}">Show</a>)
			<span class="pad"><b>Posts</b>: {{ userpagedata.posts }} (<a href="/forum/thread?user={{ id }}">Show</a>)</span>
		</div>
	{% endif %}

	<div class="row">
		<b>Registered on</b>: {{ userpagedata.joined | date('Y-m-d H:i:s') }}
	</div>
	<div class="row">
		<b>Last view</b>: {{ userpagedata.lastview | relative_time }}
	</div>

	{% if userdata.rank > 2 %}
		<div class="row right">
			<span class="sensitive">{{ userpagedata.ip | ipv6_to_ipv4 }}</span>
		</div>
	{% endif %}
</div>

{% if userpagedata.avatar %}
	<div class="user_pic"><img src="{{ avatar_url(userpagedata) }}" alt="(Avatar)"></div>
{% endif %}

<h1>{{ name }}
	{% if userpagedata.rank > 1 %}<span title="User is a moderator.">{{ icon("shield") }}</span>{% endif %}
	{% if userpagedata.rank > 3 %}<span title="User is a root administrator.">{{ icon("root") }}</span>{% endif %}
	{% if userpagedata.rank < 0 %}<span title="User has been banned.">{{ icon("gavel") }}</span>{% endif %}
	{% if userpagedata.pronouns %}<span class="pronouns">({{ userpagedata.pronouns }})</span>{% endif %}</h1>

<div class="user_about">
	<h3>About this user</h3>
	{{ userpagedata.about | default("*This user hasn't written anything about themselves yet...*") | markdown }}
</div>

<p class="clear_right">
	{% if log %}
		<strong>User actions:</strong>

		{% if userdata.id != id %}
			<a href="/forum/sendprivate?uid={{ id }}">Send private message</a>
		{% else %}
			<a href="/user/{{ id }}">Go to personal user page</a>
		{% endif %}
		{% if userdata.rank > 2 %}
			&ndash; <a href="/resetpassword?grf={{ id }}">Generate password reset for user</a>
		{% endif %}
		{% if userdata.rank > 1 %}
			&ndash; <a href="/admin/ban_user?id={{ id }}">{% if userpagedata.rank < 0 %}Unb{% else %}B{% endif %}an user</a>
		{% endif %}
	{% endif %}
</p>

{% if userpagedata.archivename %}
	<h3><a href="/archive/user/{{ userpagedata.archivename }}">
		View this user's levels on the official community site archive
	</a></h3>
{% endif %}

{% else %}
	<h1>{{ name }}
		{% if constant('IS_ARCHIVE') %}<span style="padding-left: 5px" title="This user is part of the official community site archive.">{{ icon("archive") }}</span>{% endif %}
	</h1>

	{% if name == "zardOz" %}
		<p><a href="/archive/level/20830">R.I.P. zardOz</a></p>
	{% endif %}
{% endif %}

<h2>Levels</h2>

<div class="level-list">
	{% for level in levels %}
		{{ level(level) }}
	{% else %}
		This user hasn't uploaded any levels.
	{% endfor %}
</div>

{% if userdata.id == id %}
	{% set forceuser = "&forceuser" %}
{% else %}
	{% set forceuser = "" %}
{% endif %}
{% set le_url = archive_prefix() ~ '/user/' ~ id ~ '?page=%s' ~ forceuser %}
{{ pagination(level_count, glob_lpp, le_url, page) }}

{% if not constant('IS_ARCHIVE') %}
	{{ comments(comments, 'user', id) }}
{% endif %}

	{% endblock %}
