<div class="infobox">
	<table>
		<tr>
			<td class="heading" colspan="2">{{ data.title }}</td>
		</tr>
		<tr>
			<td colspan="2">
				<img src="/wiki/images/{{ data.image }}" style="margin:-11px;height:100px">
			</td>
		</tr>
		<tr>
			<th style="width:50%">Developer</th>
			<td>{{ data.developer }}</td>
		</tr><tr>
			<th>Initial release</th>
			<td>{{ data.initial_release }}</td>
		</tr><tr>
			<th>Last release</th>
			<td>{{ data.last_release }}</td>
		</tr><tr>
			<th>Platform(s)</th>
			<td>{{ data.platform }}</td>
		</tr>
	</table>
</div>
