{% if showheader %}<h2 id="comments">Comments</h2>{% endif %}
{# HACK: disable comment form on ROllerozxa's profile #}
{% if log and userdata.rank > 0 and not (type == 'user' and id == 1) %}<form class="comment-box" action="/_post_comment" method="POST">
	<input type="hidden" name="id" value="{{ id }}">
	<input type="hidden" name="t" value="{{ type }}">
	<textarea name="comment" class="comment-input" required></textarea>
	<p class="submit"><input type="submit" value="Post"><em>Inline markdown supported.</em></p>
</form>{% endif %}
{% set got_comments = false %}
<div class="comments">
	{% for cmnt in cmnts %}
		{% set got_comments = true %}
		{% if not cmnt.deleted or userdata.rank > 1 %}
			<div class="comment {% if cmnt.deleted %}deleted{% endif %}" id="comment-{{ cmnt.id }}">
				{% if userdata.rank > 1 %}
				<span class="delete">
					<a href="javascript:document.remove{{ cmnt.id }}.submit()" style="color:red">X</a>
					<form action="/_post_comment" method="post" name="remove{{ cmnt.id }}">
						<input type="hidden" name="id" value="{{ id }}">
						<input type="hidden" name="t" value="{{ type }}">
						<input type="hidden" name="del" value="yes">
						<input type="hidden" name="cmnt" value="{{ cmnt.id }}">
					</form>
				</span>
				{% endif %}
				<span class="date" title="{{ cmnt.time | date('Y-m-d H:i:s') }}">{{ cmnt.time | relative_time }}</span>

				{{ userlink(cmnt, 'u_') }}: <span class="comment-text">{{ cmnt.message | markdown_inline | replace({'\n':'<br>'}) | raw }}</span>
			</div>
		{% endif %}
	{% endfor %}
	{% if not got_comments %}<div class="comment"><em>No comments have been posted. Be the first to comment!</em></div>{% endif %}
</div><br>