<form action="/_post_comment.php" method="POST">
	<input type="hidden" name="id" value="{{ id }}">
	<input type="hidden" name="t" value="{{ type }}">
	<textarea name="comment" class="comment-input"></textarea>
	<br><input type="submit" value="Post" {% if not log%}disabled{% endif %}></input>
	{% if not log %}You need to login to comment.{% endif %}
</form><br>
<div class="comments">
	{% for cmnt in cmnts %}
		<div class="comment-entry" id="comment-67712">
			<span class="date">{{ cmnt.date | date('M j, Y') }}</span>
			{{ userlink(cmnt, 'u_') }}: <span class="comment-text">{{ cmnt.message }}</span>
		</div>
	{% endfor %}
</div>