<div class="level" id="l-{{ level.id }}">
	<a class="lvlbox_top" href="{{ page }}?id={{ level.id }}">
		<div>
			<img src="{{ img }}" id="icon">
			{% if featured %}
				<span class="featured small">{{ featured }}</span>
			{% endif %}
			<span>{{ level.title|length > 42 ? level.title|slice(0, 42) ~ '...' : level.title }}</span>
		</div>
	</a>
	{{ userlink(level, 'u_') }}
</div>