{% extends "_layout.twig" %}

{% set title = title %}
{% if fid %}
	{% set pagename = "/forum/forum?id=" ~ fid %}
	{% set description = fdesc %}
{% elseif uid %}
	{% set pagename = "/forum/forum?user=" ~ uid %}
{% elseif time %}
	{% set pagename = "/forum/forum?time" ~ time %}
	{% set noindex = true %}
{% endif %}

	{% block content %}
{% set lsticky = 0 %}

<h1>{{ title }}</h1>

{% if fdesc %}
	<p>{{ fdesc | raw }}</p>
{% endif %}

{% if time %}
	<p>View the latest posts that have been made in threads within the given timespan.</p>

	<p>{{ timelinks('forum', time) }}</p>
{% endif %}

{{ render_page_bar(topbot) }}

<table class="c1">
	<tr class="h">
		<td style="width:30px">&nbsp;</td>
		{% if showforum %}
			<td class="nom">Forum</td>
		{% endif %}
		<td>Title</td>
		<td class="nom" style="width:150px">Author</td>
		<td class="nom" style="width:60px">Replies</td>
		<td class="nom" style="width:60px">Views</td>
		<td style="width:180px">Last post</td>
	</tr>
	{% set i = 1 %}
	{% for thread in threads %}
		{% if thread.sticky and fid %}
			{% set tr = 1 %}
		{% else %}
			{% if i % 2 %}
				{% set tr = 1 %}
			{% else %}
				{% set tr = 2 %}
			{% endif %}
		{% endif %}

		{% if fid %}
			{% if not thread.sticky and lsticky %}
				<tr class="c"><td colspan="{% if showforum %}7{% else %}6{% endif %}"></td>
			{% endif %}
			{% set lsticky = thread.sticky %}
		{% endif %}

		<tr class="n{{ tr }} center">
			<td>
				{% if log and not thread.isread %}
					{% if thread.closed %}
						{{ new_status("on") }}
					{% else %}
						{{ new_status("n") }}
					{% endif %}
				{% elseif thread.closed %}
					{{ new_status("o") }}
				{% endif %}
			</td>
			{% if showforum %}
				<td class="nom"><a href="forum?id={{ thread.fid }}">{{ thread.ftitle }}</a></td>
			{% endif %}
			<td class="left wbreak">
				<a href="thread?id={{ thread.id }}">{{ thread.title }}</a>
			</td>
			<td class="nom">{{ userlink(thread, 'u1') }}</td>
			<td class="nom">{{ thread.posts - 1 }}</td>
			<td class="nom">{{ thread.views }}</td>
			<td>
				<nobr>{{ thread.lastdate | date('Y-m-d H:i') }}</nobr><br>
				<span>by {{ userlink(thread, 'u2') }} <a href="thread?pid={{ thread.lastid }}#{{ thread.lastid }}">&raquo;</a></span>
			</td>
		</tr>
		{% set i = i + 1 %}
	{% else %}
		<tr>
			<td class="n1 center" colspan="{% if showforum %}7{% else %}6{% endif %}"><p>No threads found.</p></td>
		</tr>
	{% endfor %}
</table>
{{ pagelist | raw }}
{{ render_page_bar(topbot) }}
	{% endblock %}
