{% extends "_layout.twig" %}

{% set title = "Forum" %}
{% set description = "The Principia forums allow you to discuss about Principia, along with Apparatus and Tesla Plushies and general chitchat." %}
{% set pagename = "/forum/" %}

	{% block content %}
{% set category = -1 %}

<h1>Forum</h1>

<p>Welcome to the Principia forums. It is a place for longer-form discussions about Principia and related topics.</p>

{% for forum in forums %}
	{% if forum.cat != category %}
		{% if category != -1 %}
			</table>
		{% endif %}

		{% set category = forum.cat %}

		<table class="c1">
			<tr class="h">
				<td class="left" colspan="2">{{ categories[forum.cat] }}</td>
				<td class="nom" style="width:60px">Threads</td>
				<td class="nom" style="width:60px">Posts</td>
				<td style="width:180px">Last post</td>
			</tr>
	{% endif %}

	<tr class="center">
		<td class="n1" style="width:30px">
			{% if log and forum.lastdate > forum.rtime %}
				{{ new_status("n") }}
			{% endif %}
		</td>
		<td class="n2 left">
			{% if forum.minread > 0 %}({% endif %}<a href="forum?id={{ forum.id }}">{{ forum.title }}</a>{% if forum.minread > 0 %}){% endif %}
			<div style="margin-top:3px">{{ forum.descr | raw }}</div>
		</td>
		<td class="n1 nom">{{ forum.threads }}</td>
		<td class="n1 nom">{{ forum.posts }}</td>
		<td class="n2">
			{% if forum.posts > 0 and forum.lastdate > 0 %}
				<nobr>{{ forum.lastdate | date('Y-m-d H:i') }}</nobr>
				<br>
				<span>by {{ userlink(forum, 'u') }} <a href="thread?pid={{ forum.lastid }}#{{ forum.lastid }}">&raquo;</a></span>
			{% else %}
				None
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
	{% endblock %}
