{% extends "_layout.twig" %}

{% set title = "New thread" %}
{% set noindex = true %}

	{% block content %}
{% if error %}
	<div class="header_message">{{ error }}</div>
{% endif %}

{{ render_page_bar(topbot) }}

<h1>New thread</h1>

{% if action == 'Preview' %}
	{{ threadpost(post) }}
{% endif %}

<form action="newthread?id={{ fid }}" method="POST">
	<table class="c1">
		<tr class="h"><td colspan="2">Thread</td></tr>
		<tr>
			<td class="n1 center" width="120">Thread title:</td>
			<td class="n2"><input type="text" name="title" size="75" maxlength="100" value="{{ threadtitle }}"></td>
		</tr><tr>
			<td class="n1 center">Post:</td>
			<td class="n2"><textarea name="message" rows="15" cols="80">{{ message }}</textarea></td>
		</tr><tr>
			<td class="n1 center" colspan="2">
				<input type="submit" name="action" value="Preview">
				<input type="submit" name="action" value="Submit">
			</td>
		</tr>
	</table>
</form>

{{ render_page_bar(topbot) }}
	{% endblock %}